* {
  margin: 0;
  padding: 0; }

@media (max-width: 450px) {
  header .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    header .menu li {
      list-style: none;
      margin-left: 10px;
      display: none; }
      header .menu li a {
        text-decoration: none;
        color: black; }
  header .header-box {
    background-color: #232323;
    max-width: 450px;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white; }
    header .header-box div {
      display: flex;
      justify-content: flex-end;
      margin-top: 80px;
      margin-right: 20px; }
      header .header-box div img {
        width: 30px;
        height: 30px; }
      header .header-box div .close {
        display: none;
        width: 30px;
        height: 30px; }

  .box-1 {
    margin-top: -70px;
    height: 700px;
    background-image: url("../images/img2.jpg");
    background-size: cover; }
    .box-1 .about {
      max-width: 450px;
      height: 700px;
      background-color: rgba(106, 109, 108, 0.5);
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center; }
      .box-1 .about .description {
        font-size: 30px;
        font-family: 'Cormorant Garamond', serif; }
      .box-1 .about hr {
        width: 250px;
        color: black;
        margin: 50px 40px;
        background-color: black;
        height: 1px;
        border: 0; }
      .box-1 .about .story {
        font-size: 16px;
        font-family: 'Cormorant Garamond', serif;
        margin: 0 30px;
        text-align: center; } }
@media (min-width: 450px) {
  .header-restaurant {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .header-restaurant .menu {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .header-restaurant .menu li {
        list-style: none;
        margin-top: 50px;
        margin-left: 40px; }
        .header-restaurant .menu li a {
          text-decoration: none;
          color: grey;
          text-transform: uppercase; }
    .header-restaurant .header-box img {
      display: none; }
    .header-restaurant .header-box .close {
      display: none; }

  section {
    display: flex;
    flex-direction: row;
    margin-top: -70px;
    height: 700px;
    background-image: url("../images/img2.jpg");
    background-size: cover; }
    section .box-1 .about {
      width: 350px;
      height: 700px;
      background-color: rgba(106, 109, 108, 0.5);
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center; }
      section .box-1 .about .description {
        font-size: 30px;
        font-family: 'Cormorant Garamond', serif; }
      section .box-1 .about hr {
        width: 250px;
        color: black;
        margin: 50px 40px;
        background-color: black;
        height: 1px;
        border: 0; }
      section .box-1 .about .story {
        font-size: 16px;
        font-family: 'Cormorant Garamond', serif;
        margin: 0 30px;
        text-align: center; } }
@media (max-width: 450px) {
  .header .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .header .menu li {
      list-style: none;
      margin-left: 10px;
      display: none; }
      .header .menu li a {
        text-decoration: none;
        color: white; }
  .header .header-box {
    background-color: #232323;
    height: 750px;
    max-width: 450px;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white; }
    .header .header-box div {
      display: flex;
      justify-content: flex-end;
      margin-top: 50px;
      margin-right: 20px; }
      .header .header-box div img {
        width: 50px;
        height: 50px; }
      .header .header-box div .close {
        display: none;
        width: 30px;
        height: 30px; }
    .header .header-box .name, .header .header-box .welcome, .header .header-box .reservetion {
      font-size: 26px;
      font-family: 'Cormorant Garamond', serif;
      margin: 20px 0;
      text-align: center; }
    .header .header-box hr {
      color: white;
      margin: 0 40px;
      background-color: white;
      height: 1px;
      border: 0; }
    .header .header-box .lorem {
      font-size: 18px;
      font-family: 'Cormorant Garamond', serif;
      margin: 0 40px;
      text-align: center; }
    .header .header-box .date, .header .header-box .person {
      border: 1px solid white;
      font-family: 'Cormorant Garamond', serif;
      font-size: 18px;
      width: 300px;
      justify-content: center;
      margin-left: 20px;
      padding: 5px;
      margin-top: 20px; }
      .header .header-box .date input, .header .header-box .date select, .header .header-box .person input, .header .header-box .person select {
        font-family: 'Cormorant Garamond', serif;
        background-color: rgba(106, 109, 108, 0);
        border: 0;
        text-align: center;
        height: 30px;
        font-size: 16px;
        margin-left: 20px;
        color: white; }
        .header .header-box .date input option, .header .header-box .date select option, .header .header-box .person input option, .header .header-box .person select option {
          font-family: 'Cormorant Garamond', serif;
          background-color: #232323;
          border: 0; }
    .header .header-box input[type='submit'] {
      font-family: 'Cormorant Garamond', serif;
      font-size: 18px;
      width: 310px;
      margin-left: 20px;
      background-color: #232323;
      border: 1px solid white;
      height: 40px;
      margin-bottom: 10px;
      margin-top: 20px;
      color: white; }
    .header .header-box .adress {
      font-size: 16px;
      font-family: 'Cormorant Garamond', serif;
      text-align: center;
      margin-top: 5px; } }
@media (min-width: 450px) {
  .header {
    height: 700px;
    background-image: url("../images/img2.jpg");
    background-size: cover;
    display: flex;
    flex-direction: row; }
    .header .menu {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }
      .header .menu li {
        list-style: none;
        margin-top: 50px;
        margin-left: 40px; }
        .header .menu li a {
          text-decoration: none;
          color: grey;
          text-transform: uppercase; }
    .header .header-box {
      background-color: rgba(106, 109, 108, 0.5);
      height: 750px;
      width: 350px;
      margin-top: -50px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .header .header-box img {
        display: none; }
      .header .header-box .close {
        display: none; }
      .header .header-box .name, .header .header-box .welcome, .header .header-box .reservetion {
        font-size: 26px;
        font-family: 'Cormorant Garamond', serif;
        margin: 20px 0;
        text-align: center; }
      .header .header-box hr {
        color: black;
        margin: 0 40px;
        background-color: black;
        height: 1px;
        border: 0; }
      .header .header-box .lorem {
        font-size: 18px;
        font-family: 'Cormorant Garamond', serif;
        margin: 0 40px;
        text-align: center; }
      .header .header-box .date, .header .header-box .person {
        border: 1px solid black;
        font-family: 'Cormorant Garamond', serif;
        font-size: 18px;
        width: 300px;
        justify-content: center;
        margin-left: 20px;
        padding: 5px;
        margin-top: 20px; }
        .header .header-box .date input, .header .header-box .date select, .header .header-box .person input, .header .header-box .person select {
          font-family: 'Cormorant Garamond', serif;
          background-color: rgba(106, 109, 108, 0);
          border: 0;
          text-align: center;
          height: 30px;
          font-size: 16px;
          margin-left: 20px; }
          .header .header-box .date input option, .header .header-box .date select option, .header .header-box .person input option, .header .header-box .person select option {
            font-family: 'Cormorant Garamond', serif;
            background-color: #67574f;
            border: 0; }
      .header .header-box input[type='submit'] {
        font-family: 'Cormorant Garamond', serif;
        font-size: 18px;
        width: 310px;
        margin-left: 20px;
        background-color: rgba(106, 109, 108, 0);
        border: 1px solid black;
        height: 40px;
        margin-bottom: 10px;
        margin-top: 20px; }
      .header .header-box .adress {
        font-size: 16px;
        font-family: 'Cormorant Garamond', serif;
        text-align: center;
        margin-top: 5px; } }

/*# sourceMappingURL=style.css.map */
