@media(max-width: 450px) {
  header {
    .menu {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      li {
        list-style: none;
        margin-left: 10px;
        display: none;
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
    .header-box {
      background-color: rgb(35, 35, 35);
      max-width: 450px;
      margin-top: -50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;
      div {
        display: flex;
        justify-content: flex-end;
        margin-top: 80px;
        margin-right: 20px;
        img {
          width: 30px;
          height: 30px;
        }
        .close {
          display: none;
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  .box-1{
    margin-top: -70px;
    height: 700px;
    background-image: url("../images/img2.jpg");
    background-size: cover;
    .about{
      max-width:450px;
      height:700px;
      background-color: rgba(106, 109, 108,0.5);
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .description{
        font-size: 30px;
        font-family: 'Cormorant Garamond', serif;
      }
      hr{
        width:250px;
        color:black;
        margin: 50px 40px;
        background-color: black;
        height: 1px;
        border: 0;
      }
      .story{
        font-size: 16px;
        font-family: 'Cormorant Garamond', serif;
        margin:0 30px;
        text-align: center;
      }
    }
  }
  .box-desc{
    height: 700px;
    background-image: url("../images/img2.jpg");
    background-size: cover;
    .about-2{
      max-width:450px;
      height:700px;
      margin-top: -20px;
      background-color: rgba(106, 109, 108,0.5);
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .description-2{
        font-size: 30px;
        font-family: 'Cormorant Garamond', serif;
      }
      hr{
        width:250px;
        color:black;
        margin: 50px 40px;
        background-color: black;
        height: 1px;
        border: 0;
      }
      img{
        width:300px;
        height:180px;
        margin-bottom: 50px;
      }
      .story{
        font-size: 16px;
        font-family: 'Cormorant Garamond', serif;
        margin:0 30px;
        text-align: center;
      }
    }
  }
}
@media(min-width:450px){
  .header-restaurant{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .menu {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      li {
        list-style: none;
        margin-top: 50px;
        margin-left: 40px;
        a {
          text-decoration: none;
          color: grey;
          text-transform: uppercase;
        }
      }
    }
    .header-box {
      img {
        display: none;
      }
      .close {
        display: none;
      }
    }
  }
  section{
    display: flex;
    flex-direction: row;
    margin-top: -70px;
    height: 700px;
    background-color: black;
    justify-content: center;
    align-items: center;
    .box-1 {
      .about {
        width: 350px;
        height: 700px;
        background-color: rgba(106, 109, 108, 0.5);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .description {
          font-size: 30px;
          font-family: 'Cormorant Garamond', serif;
        }
        hr {
          width: 250px;
          color: black;
          margin: 50px 40px;
          background-color: black;
          height: 1px;
          border: 0;
        }
        .story {
          font-size: 16px;
          font-family: 'Cormorant Garamond', serif;
          margin: 0 30px;
          text-align: center;
        }
      }
    }
    .box-desc {
      margin-top: 100px;
      .about-2 {
        width: 900px;
        height: 600px;
        background-color: rgba(106, 109, 108, 0.5);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .description-2 {
          font-size: 30px;
          font-family: 'Cormorant Garamond', serif;
          margin-top: 10px;
        }
        hr {
          width: 250px;
          color: black;
          margin: 30px 40px;
          background-color: black;
          height: 1px;
          border: 0;
        }
        img{
          width:450px;
          height: 250px;
          margin-bottom: 50px;
          margin-top: 20px;
        }
        .story {
          font-size: 16px;
          font-family: 'Cormorant Garamond', serif;
          margin: 0 100px;
          text-align: center;
        }
      }
    }
  }
}